/* **********************************************HEADER***************************************************   */
header {
    background-color: #1b1b1b;
}

#menu {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    color: #9c9c9c;
}

#réseaux_sociaux {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40%;
    color: #ffffff;
}
/* **********************************************SECTION1***************************************************   */
#Photohere {
    position: absolute;
    left: 65.78%;
    right: 6.88%;
    top: 4.1%;
    bottom: 88.09%; 
    display: block;
    margin: 0 auto;
}

#Headertext h1 {
    position: absolute;
    left: 21.25%;
    right: 51.75%;
    top: 5.82%;
    bottom: 93.48%;
    color: #ffffff;
}

#Headertext p {
    position: absolute;
    left: 21.32%;
    right: 44.17%;
    top: 7.33%;
    bottom: 91.3%;
    color: #9c9c9c;
}

#Call_to_action {
    background-color: #62BA1B;
    color: #ffffff;
    position: absolute;
    left: 21.25%;
    right: 54.7%;
    top: 9.46%;
    bottom: 89.14%;
    text-align: center;
}

#Clients li {
    display: flex;
    flex-direction: row;
}


/* **********************************************SECTION2***************************************************   */


/* **********************************************SECTION3***************************************************   */


/* **********************************************FOOTER*****************************************************   */
footer {
    background-color: black;
}
.container h2 {
    position: absolute;
    left: 49.25%;
    right: 34.94%;
    top: 86.29%;
    bottom: 13.15%;
    color: white;
}
.container p {
    position: absolute;
    left: 36.32%;
    right: 21.89%;
    top: 87.39%;
    bottom: 11.78%;
    color: #9c9c9c;
}
.container div {
    
}