/* **********************************************HEADER***************************************************   */
header {
    background-color: black;
}

#Photohere {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    }

/* ******************************Rectangle1*****************************/


ul {
    display: flex;
    justify-content: space-between;
    background-color : #1b1b1b; 
}

h1 {
    position: absolute;
    left: 21.25%;
    right: 51.75%;
    top: 5.82%;
    bottom: 93.48%; 
    opacity: 0.3;
}


/* **********************************************SECTION1***************************************************   */
#section_1 

/* **********************************************SECTION2***************************************************   */


/* **********************************************SECTION3***************************************************   */


/* **********************************************FOOTER*****************************************************   */
footer {
    background-color: black;
}
.container h2 {
    position: absolute;
    left: 49.25%;
    right: 34.94%;
    top: 86.29%;
    bottom: 13.15%;
    color: white;
}
.container p {
    position: absolute;
    left: 36.32%;
    right: 21.89%;
    top: 87.39%;
    bottom: 11.78%;
    color: #9c9c9c;
}
.container div {
    
}